*.7z
*.MF
*.class
*.class
*.classpath
*.jpeg
*.jpg
*.js
*.json
*.odt*
*.pdf
*.pgdump
*.project
*.rar
*.ssms*
*.tar*
*.zip
*.png
.dbeaver*
PracticeAutomationTesting/.metadata/
PracticeAutomationTesting/.settings/
PracticeAutomationTesting.settings/org.eclipse.ltk.core.refactoring.prefs
META-INF/
bin/
PracticeAutomationTesting/target/classes/META-INF/MANIFEST.MF
psw.java
target/
/.metadata/
chromedriver.exe